.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-image: url("https://www.xtrafondos.com/wallpapers/resoluciones/21/pokemon-unite_1920x1080_8254.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #b8b9b9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formLogin {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #42424295;
}

@media (max-width: 768px) {
  .listPokemon {
    width: 100%;
  }
}
@media (min-width: 769px) {
  .listPokemon {
    width: 50%;
  }
}

.background-home {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.78),
      rgba(255, 255, 255, 0.78)
    ),
    url("https://i.pinimg.com/originals/16/de/e0/16dee095aede50fcbfd9dc9e72d2ebc0.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #b8b9b9;
  min-height: 100vh;
}
